* {
    font-family: "georgia", serif;
}

#top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
}

#top-nav li {
    float: left;
    width: auto;
}

#top-nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-nav li a:hover {
    background-color: #FFFFFF;
}

#flex-wrapper {
    display: flex;
}

#left {
    order: 0;
    width: 10%;
}

.button {
    width: 100%;
    background-color: #F2F2F2;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}

.button:hover {
    background-color: #FFFFFF;
}

#content {
    order: 1;
    width: 70%;
}

#right {
    order: 2;
    width: 20%;

}

#image,h2 {
    text-align: center;
}

header {
    height: 100px;
    background-image: url("https://images.pexels.com/photos/616409/pexels-photo-616409.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-size: 100%;
}

body {
    background-color: #F1E2B8;
}

footer {
    font-size: 14px;
    background-color: #F2F2F2;
}

h1,p {
    margin: 0;
}

table{
    width: 100%;
}

li {
    padding-top: 0.5em;
}

tr,th {
    text-align: center;
}

#ingredients tr:nth-child(odd) {
    background-color: #F2F2F2;
}

@media (max-width: 500px) {
    #flex-wrapper{
        flex-direction: column;
        align-items: center;
    }
    #left {
        width: 90%;
    }
    #right{
        display: none;
    }
}
