* {
    font-family: "georgia", serif;
}

#top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
}

#top-nav li {
    float: left;
    width: auto;
}

#top-nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-nav li a:hover {
    background-color: #FFFFFF;
}

#flex-wrapper {
    display: flex;
}

#left {
    order: 0;
    width: 10%;
}

#content {
    order: 1;
    width: 70%;
}

#right {
    order: 2;
    width: 20%;

}

#image,h2 {
    text-align: center;
}

header {
    height: 100px;
}

footer {
    font-size: 14px;
    background-color: #F2F2F2;
}

p {
    margin: 0;
}

table{
    width: 100%;
}

li {
    padding-top: 0.5em;
}

tr,th {
    text-align: center;
}

#ingredients tr:nth-child(even) {
    background-color: #F2F2F2;
}

@media (max-width: 500px) {
    #flex-wrapper{
        flex-direction: column;
    }
    #right{
        display: none;
    }
}